.encabezado {
    background: transparent;
    transition: background 200ms linear;
    position: fixed;
    top: 0;
    padding: .5rem 0;
    color: $color-blanco;
    min-height: 5rem;
    display: flex;
    align-items: end;

    .pleca {
        position: fixed;
        top: 0;
    }

    .header__brand {
        left: 30%;
        top: 1.7rem;
        position: absolute;
    }
}

.scrolling {
    .encabezado {
        background: $color-azul;
    }  
}

.instrucciones {
    color: #056e31;
}

.modal__encabezado {
    color: $color-naranja;
}

@media screen and (min-width: 768px) {
    .encabezado {
        min-height: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .header__brand {
            position: relative;
            top: unset;
            left: unset;
        }
    }

    
}