.seccion {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.seccion__titulo {
    border-bottom: $color-naranja 4px solid;
    display: inline-block;
    margin: 0 0 1rem 0;
    padding-bottom: .5rem;

}

.seccion__texto {
    margin-bottom: 0;
}

.seccion--dg-1 {
    background: $color-azul-claro;
}

.seccion--dg-2 {
    background: $color-amarillo;
}